<section>
  <!-- Carrinho de Compras -->
  <section class="produto-destaque">
    <div class="produto-card">
        <div class="produto-imagem">
            <img class="produto-img" src="/imagens/bateriadearmazenamento1.jpg" alt="Placa Solar">
        </div>

        <div class="produto-detalhes">
            <h2 class="nome-produto">Bateria de Armazenamento</h2>
            <p class="produto-descricao">
                IBateria de Litio Weg para Sistema de Armazenamento de Energia Luna2000-5-e0 5kwh
            </p>
            <p class="produto-preco"><strong>Preço:</strong>R$ 28.540,84</p>
            
            <div class="botoes">
                <button class="produto-btn">Comprar</button>
               
            </div>
        </div>
    </div>
</section>




    </div>
    <div class="mt-6 flex justify-between">
      <span class="text-xl font-semibold">Total: <span id="total">R$ 28.540,84</span></span>
      <button class="btn btn-primary py-2 px-6 rounded-md">Finalizar Compra</button>
    </div>
  </section>
</section>

<script>
    // Carrinho de compras
    let carrinho = [];
    let total = 0;
    
    function adicionarAoCarrinho(nome, preco) {
      carrinho.push({ nome, preco });
      total += preco;
    
      // Atualiza o carrinho na tela
      atualizarCarrinho();
    }
    
    function atualizarCarrinho() {
      const carrinhoDiv = document.getElementById('carrinho');
      const totalSpan = document.getElementById('total');
    
      // Exibe os itens do carrinho
      if (carrinho.length === 0) {
        carrinhoDiv.innerHTML = '<p class="text-gray-500 text-center">Seu carrinho está vazio. Adicione itens para começar a compra.</p>';
      } else {
        carrinhoDiv.innerHTML = carrinho.map(item => {
          return `<p>${item.nome} - R$ ${item.preco.toFixed(2)}</p>`;
        }).join('');
      }
    
      // Atualiza o total
      totalSpan.innerText = `R$ ${total.toFixed(2)}`;
    }
    </script>