<section class="home">
    <form>
        <h2>Cadastro</h2>
        <input name="nome" type="text" placeholder="Nome">
        <input name="nome" type="text" placeholder="Email">
        <input name="nome" type="text" placeholder="Senha">
        <div class="login">
            <p>Você não tem cadastro? <a href="login">login</a></p>
        </div>

    </form>
</section>

