<section id="home">
    <form>
        <h2>Cadastro</h2>

        <input name="nome" type="text" placeholder="Nome">
        <input name="nome" type="text" placeholder="Nome">
        <input name="nome" type="text" placeholder="Nome">

        <p>Você já tem cadastro? <a href="login">Faça seu login</a></p>

    </form>
</section>

