<section class="home">
    <form action="/usuarios" method="POST">
        <h2 class="login">Cadastro</h2>
        <input name="usuarioname" type="text" placeholder="Nome">
        <input name="email" type="text" placeholder="Email">
        <input name="password" type="password" placeholder="Senha">
        <div class="login">
            <p class="subtitulo">Você não tem cadastro? <a href="login">login</a></p>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</section>
