<section class="home">
<div class="contato">
    <div class="foto_nathy">
        <img src="/imagens/fotonaty.png" alt="foto da nathany" width="100 ">
        <p>Náthany Amabille Casagrande. Socia da empresa LSMS& programadora.

            LSMS vendas e instalações!

            ENTRE EM CONTATO CONOSCO!
            48 996253524
        </p>


    </div>

    <div class="foto_vi">
        <img src="/imagens/fotovit.png" alt="foto da viroria" width="100 ">

        <p>Vitória Scheffer. Socia da empresa LSMS & publicitária.

            LSMS vendas e instalações!

            ENTRE EM CONTATO CONOSCO!
            48 996056650
        </p>
    </div>
</div>
</section>
        