<section class="home">
<div class="contato">
    <div class="foto_nathy">
        <img src="/imagens/placasolar2.jpg" alt="foto da nathany" width="100 ">
        <p>alguma coisa sobre a nathy</p>


    </div>

    <div class="foto_vi">
        <img src="/imagens/placasolar2.jpg" alt="foto da viroria" width="100 ">

        <p>alguma coisa sobre a vi</p>
    </div>
</div>
</section>
        