<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home || LSMS Energia Solar</title>

    <link rel="stylesheet" href="/estilos.css">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <header>
        <div class="logo">
            <img width="175" height="175" src="/imagens/logodaempresa.png" alt="Logo da LSMS Energia Solar">
        </div>
        <div class="logoMenu">
            <h1>LSMS Energia Solar</h1>
            <nav class="menu">
                <ol>                
                    <!-- Corrigidos os links para as rotas express -->
                    <li><a href="/">Inicio</a></li>  
                    <li><a href="/sobre">Sobre</a></li>  <!-- Rota sobre -->
                    <!-- <li><a href="/produto">Produtos</a></li>  Rota produto -->
                    <li><a href="/contato">Contato</a></li>  <!-- Rota contato -->
                    <li><a href="/login">Login</a></li>  <!-- Rota login -->
                </ol>
            </nav>  
            
   
        </div>
        <div class="espaco">
            <br>
        </div>
    </header>

    
    <!-- Barra amarela abaixo do cabeçalho -->
    <div class="barra-topo"></div>

    <main><%- body %></main>
    
    <footer>
        <p>&copy; 2024 LSMS Energia Solar</p>
    </footer>
</body>
</html>
