<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LSMS Energia Solar</title>

    <link rel="stylesheet" href="/estilos.css">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css"
      rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/388f611981.js"
      crossorigin="anonymous"></script>
  </head>

  <body>

    <header class="bg-sky-950">
      <div class="logo">
        <a href="/"><img width="175" height="175"
            src="/imagens/logodaempresa.png"
            alt="Logo da LSMS Energia Solar"></a>
      </div>
      <div class="logoMenu flex">
        <h2>LSMS Energia Solar</h2>
        <img class="imagem-pequena" src="/imagens/sol2.png"
          alt="Ícone pequeno ao lado do título" width="30" height="30">
      </div>
      <div class="espaco">
        <a href="" style="margin-right: 20px;"><i
            class="fa-solid fa-cart-shopping"></i></a>
        <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
      </div>
    </header>

    <div class="barra-topo"></div>

    <main><%- body %></main>

    <footer class="bg-sky-950 text-white py-12">
      <div class="container mx-auto px-6">

        <div class="flex flex-wrap justify-between">

          <!-- Seção de Contato -->
          <div class="w-full sm:w-1/2 md:w-1/3">
            <p>Contato: <a href="mailto:contato@seusite.com">LSMSenergiasolar@hotmail.com</a> | Telefone: (48) 3533-3023</p>
            <p>Endereço: Rua Dario Irineu Colares, 56, São Pedro - Sombrio, SC</p>
          </div>

          <!-- Texto de Agradecimento -->
          <div class="w-full sm:w-1/2 md:w-1/3 text-right">
            <p class="text-yellow-400 font-semibold">Obrigado por visitar a LSMS Energia Solar!</p>
          </div>

        </div>

        <!-- Direitos autorais -->
        <div class="text-center text-gray-400 mt-8">
          <p>&copy; 2024 LSMS Energia Solar. Todos os direitos reservados.</p>
        </div>

      </div>
    </footer>
  </body>
</html>
