<section id="home">
    <form>
        <h2>Login</h2>

        <input name="nome" type="text" placeholder="Nome">
        <input name="nome" type="text" placeholder="Nome">

        <p>Você não tem cadastro? <a href="cadastro">cadastra-se</a></p>
    </form>
</section>

