<section class="home">
    <form>
        <h2>Login</h2>

        <input name="nome" type="text" placeholder="Nome de usuário">
        <input name="nome" type="text" placeholder="Senha">
        <div class="Login">
            <p>Você não tem cadastro? <a href="cadastro">cadastra-se</a></p>
        </div>
    </form>
</section>

