<section class="home">
    <form action="/login" method="POST">
        <h2 class="login">Login</h2>
        <input name="usuarioname" type="text" placeholder="Nome de usuário">
        <input name="password" type="password" placeholder="Senha">
        <div class="subtitulo-container">
            <p class="subtitulo">Não tem conta? <a href="/cadastro">Cadastre-se</a></p>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</section>
