<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login || LSMS Energia Solar</title>
    <link rel="stylesheet" href="/estilos.css">
</head>
<body>
    <header>
        <div class="logo">
            <img width="175" height="175" src="/public/imagens/logodaempresa.png" alt="">
        </div>
        <div class="logoMenu">
            <h1>LSMS Energia Solar</h1>
            <nav class="menu">
                <ol>                
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/produto">Produtos</a></li>
                    <li><a href="/contato">Contato</a></li>
                    <li><a href="/login">Login</a></li>
                </ol>
            </nav>  
        </div>
        <div class="espaco">
            <br>
        </div>
    </header>

    <section id="home">
        <div class="logomarca">
            <h3>LSMS Energia Solar</h3>
            <p>Less Spending More Sun</p>
        </div>
        <!-- ul>li*3 -->
    </section>
    
    <footer>
        <p>&copy; 2024 LSMS Energia Solar</p>
    </footer>
</body>
</html>
