<section class="home">
    <form action="/login" method="POST">
        <h2 class="login">Login</h2>
        <input name="usuarioname" type="text" placeholder="Nome de usuário">
        <input name="password" type="password" placeholder="Senha">
        <div class="Login">
            <p class="subtitulo">Você não tem cadastro? <a href="/cadastro">cadastra-se</a></p>
        </div>
    </form>
</section>
