<section class="produto-destaque">
    <div class="produto-card">
        <div class="produto-imagem">
            <img class="produto-img" src="/imagens/bateriadearmazenamento1.jpg" alt="Placa Solar">
        </div>

        <div class="produto-detalhes">
            <h2 class="nome-produto">Bateria de Armazenamento</h2>
            <p class="produto-descricao">
                IBateria de Litio Weg para Sistema de Armazenamento de Energia Luna2000-5-e0 5kwh
            </p>
            <p class="produto-preco"><strong>Preço:</strong>R$ 28.540,84</p>
            
            <div class="botoes">
                <button class="produto-btn">Comprar</button>
                <button class="produto-btn adicionar-carrinho" onclick="adicionarCarrinho()">Adicionar ao Carrinho</button>
            </div>
        </div>
    </div>
</section>

<script>
    function adicionarCarrinho() {
        alert('Produto adicionado ao carrinho!');
        // Aqui você pode adicionar lógica para enviar o produto ao servidor
    }
</script>
