<section class="home">
    <div class="produto-container">
        <div class="produto-card">
            <div class="produto_img">
                <img class="produto-img" src="/imagens/placasolar2.jpg" alt="Placa Solar">
            </div>
            <p class="nome_produto">Produto da Nathany</p>
            <p class="produto-descricao">Descrição breve do produto aqui.</p>
            <button class="produto-btn">Saiba Mais</button>
        </div>
    </div>
</section>
