<section class="home">
<div class="logomarca">
    <h3>LSMS Energia Solar</h3>
    <p>Less Spending More Sun</p>
    <div class="produto_img">
        <h3 class="nome_produto">Produto da nathany</h3> 
    <img  src="/imagens/placasolar2.jpg" alt="fsdfdsfsd">
    </div>
</div>
</section>
    