<section class="home">
    <div class="sobre">
       
        <h5 class="titulo_sobre" >SOBRE NÓS</h5>
        <p class="textosobre">A energia solar é uma fonte de energia renovável que 
            utiliza a radiação do sol para gerar eletricidade ou calor. 
            É uma das formas mais limpas e sustentáveis de produzir energia, 
            pois não emite gases poluentes ou contribui para o aquecimento global. 
            Com o avanço da tecnologia, especialmente no campo das células fotovoltaicas, 
            a energia solar tem se tornado cada vez mais acessível e eficiente, 
            além de ser uma alternativa viável para reduzir a dependência de 
            fontes de energia não renováveis, como combustíveis fósseis.</p>

           
            
                

    </div>
</section>
        