* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
} /* resetar o estilo*/ 

body {
    font-family: Arial, sans-serif;
    text-align: center; /*CENTRALIZOU O SITE INTEIRO NO MEIO*/
    
}



header {
    display: flex;
    align-items: center;/*centraliza*/
    justify-content: space-around;/* justifica os conteudos no centro */
}


header, footer {
    background-color: rgb(69, 71, 77); /*(cabeçalho) barra de cima que esta preta */
    color: white;
    padding: 10px 0; /* tamanho da barra */
}

header .logo { /*logo em geral*/
    width: 20%; /*tamanho*/
}

header .logoMenu { /*somente a logo e menu*/
    width: 60%;/*tamanho*/
    color: rgb(217, 255, 0);
}

header .espaco { /*espaço entre a logo e o menu*/
    width: 20%;
}

nav a {
    margin: 0 15px;
    color: white; /*ABAS(sobre nos, placas etc)*/
}

.home {
    height: 75vh; /* Define o tamanho do container */
    display: flex; /* Funciona de uma maneira diferente dos outros displays. Quando colocamos essa propriedade em um elemento,
                    esse elemento se torna um flex container, a partir daí podemos manipular todos os elementos filhos desse flex container com propriedades novas.
                    Isso torna o layout mais responsivo */
    align-items: center;  /* Alinha os itens no centro */
    justify-content: center; /* Justifica o conteúdo no centro */
    background-image: url('./imagens/fundonovo2.png');
    background-size: auto; /* Ajusta a imagem ao tamanho original (ou o tamanho desejado) */
    background-repeat: repeat; /* Faz a imagem se repetir tanto na vertical quanto na horizontal */
    background-attachment: fixed; /* Faz com que a imagem fique fixa enquanto a rolagem acontece */
}

.home .logomarca p{
    color:rgb(217, 255, 0);
    font-size: 40px;
}
.login{
    color: white;
}

.home form {
    padding: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 12pt;
    margin-bottom: 20%;
}
.subtitulo{
    color: white;
}

.home form input {
    width: 100%;
}


.home .logomarca {
    padding: 280px; /*espaçamento da tela*/
    font-size: 50px;
}

footer {
    position: fixed;/*barra de baixo fixada*/
    bottom: 0;/*posiciona o elemento da página na área inferior da tela*/
    width: 100%; /*posição da barra de baixo, 100% ela aparece em toda a tela*/
}


h3{
    color: rgb(0, 0, 0); /*LSMS do meio*/
}


/*Formatação do menu principal enviada pelo cleber*/

nav.menu h3 {
    display: none;
}

nav.menu ol {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 120px;
    right: 630px;
}

nav.menu li {
    display: inline-block;
    background-color: lightgray;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    transition: background-color 2s, transform 1s;
}

nav.menu li:hover {
    background-color: darkgray;
    /*transform: rotatez(-25deg);*/
}

nav.menu a {
    color: #000000;
    text-decoration: none;
}

nav.menu a:hover {
    color: white;
    text-decoration: underline;
}
.textosobre{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding-top: 20pt;
    

}
.titulo_sobre
{
    background-color: lightgray;
    border-radius: 26pt;
    padding: 12pt;
}


.sobre{
    color: rgb(0, 0, 0);
    font-size: 50px;
    padding: 50px;
    background-color: white;
    border-radius: 12pt;
    margin-left: 25%;
    margin-right: 25%;



}

.produto_img
{
    width: 100%;
    background-color: white;
    padding: 50pt;
    border-radius: 12pt;
}

div  p.nome_produto
{
    color: black;
}

.contato
{
    display: inline;
    padding-top: 15%;
}

.foto_vi
{
    background-color: white;
    padding: 100pt;
    text-align: center;
    padding-left: 10pt;
    border-radius: 22pt;

}

.foto_nathy
{
    background-color: white;
    padding: 100pt;
    text-align: center;
    margin-right: 10pt;
    padding-bottom: 150pt;
    border-radius: 22pt;

}



/*
form {
    display: inline-block; /*LOGIN CENTRALIZADO NO MEIO
    color: black;
*/
/*
.login-container{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: collum;

    border-radius: 8px;
}
    footer#rodape{
    color: rgb(240, 255, 31);
    font-size: 25px;
}

*/
/*
p {
    color: rgb(201, 36, 159);
    font-size: 25px;
}
*/